<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <img src="http://localhost:8080/puplic/images/logo.png" />
    <h1>order</h1>
    <p>Hello <%= UserName %>,</p>
    <p>Thank you for your order. Your order number is <%= orderNumber %>.</p>
    <div>
        <%= items %>
    </div>
    
</body>
</html>