@import "~bootstrap/dist/css/bootstrap.min.css";
.addressCon{
h1{
  font-size: 1.5rem;
  letter-spacing: normal;
}
}
.addressDetail{
  margin: 2rem 0 0 2rem;
}
#buttonAdress{
  margin: 1rem 0 0 2rem;
}
.dialogFlex{
  display: flex;
  gap: 1em;
  width: 40vw;

}
#dilo{
    border-color: white;
    border-radius: 20px;
    z-index: 2;
    width: 40vw;
    height:auto;
    margin-right: 2em;
    & .dialogFlexContent{
     display: flex;
     flex-direction: column;
    }
    & p{
      font-size: 1rem;
      color:red
    }
    & h1{
        margin: 0;
    }
    & button {
        margin-top: 2rem;
      }
      
      & input {
        border: 1px solid;
        padding: 0.3em;
        width: 100%;
      }
      
      & textarea {
        width: 100%;
        min-height: 6em;
      }
      
      & label {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
      }
      
      & select {
        font-size: 16px;
      }
      
      .postal-code {
        width: 50%;
      }
      & #btn{
        margin-bottom: 2%;
      }
    }


 
@media screen and (max-width: 769px) {
  .dialogFlex{
    display: flex;
    gap: 1em;
    width: auto;
  
  }
  #dilo{
    height:auto;
    font-size: 0.9rem;
    p{
      font-size: 0.8rem;
    }
  & button {
      margin-top: 1rem;
    }
    
    & input {
      padding: 0.3em;
      max-height: 2.5em;
    }
    
    & textarea {
      max-height: 2.5em;
    }
    & label {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    
    & select {
      font-size: 12px;
    }
  }
  }

@media screen and (max-width:576px) {
  #dilo{
    width: 80vw;
    height:auto;
    font-size: 0.9rem;
  & p{
    font-size: 0.7rem;
  }
  & button {
      margin-top: 1rem;
    }
    
    & input {
      max-height: 2em;
    }
    
    & textarea {
      max-height: 1em;
    }
    
    & label {
      display: block;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    
  }
  }
  @media screen and (max-width:426px) {
    #dilo{
      font-size: 0.8rem;
      & h1{
        margin: 0;
    }
    & p{
      font-size: 0.6rem;
      color:red
    }
    & button {
        margin-top: 1rem;
      }
      
      & input {
        max-height: 2em;
      }
      
      & textarea {
        width: 100%;
        max-height: 2em;
      }
      
      & label {
        font-size: 0.9rem;
        margin-top: 0.3rem;
      }

    }
    }
  
 