body{
    background-color: black;
    width:100vw;
    height:100vh;
}
.continer{
    margin:15%;
}
.newsunglassAll{
    display: grid;
    padding-bottom: 50px;
    
    grid-template-areas: " a a a " 
                         " a a a ";
                         justify-items: center;
                         justify-content: center;
                         
      gap:40px;
      
   @import url('https://fonts.googleapis.com/css?family=Raleway:200');
  }.newsunglassconAll{
      display:flex;
      width: 350px;
      height:400px;
      background-color:rgb(216, 222, 223);
      object-fit: contain;
      --borderWidth: 3px;
      position: relative;
      border-radius: var(--borderWidth);
      flex-direction: column-reverse;
      align-items: baseline;
      & #img{
        width:100%;
        height:80%
      }
      & h4, p{
        z-index: 1;
        font-size:20px;
        font-family: 'Raleway', sans-serif;
        color:black;
  
        margin-bottom:10px;
      }
      & .butCon{
        display: flex;
        flex-direction: row;
        gap:30px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .newsunglassconAll:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #f79533, #cbf33b, #254a75, #235a2c, #b8d33e, #2fc51c, #07b39b, #6fba82);
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }
    @media screen and (max-width: 1200px) {
      .newsunglassAll{
        grid-template-areas: " a a " 
                             " a a ";
                         justify-items: center;
                         justify-content: center;
      }}
      @media screen and (max-width: 800px) {
        .newsunglassAll{
          grid-template-areas: " a  " 
                               " a  ";
                           justify-items: center;
                           justify-content: center;
        }}