.man-woman-child-textcon{
    display:flex;
    flex-direction: row;
    margin-bottom: 3%;
    gap: 0.5%;
    height: 100vh;
	
    & p{
        color: white;
        margin-top: 30px;
    }
    
}

.man-woman-child-text-left{ 
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 15%;
    padding-left: 10%;
    h1{
        color: #fff;
    }
}
.man-woman-child-text-right{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
flex-direction: column;
padding-top: 2%;
& img{
    width: 60vw;
    height: 60vh;
    object-fit: contain;
    
    
}
}

.man-woman-child-button-Flex{
    margin-top: 15%;
    display: flex;
    flex-direction:row;
    gap:2rem;
}

button.man-woman-child-mt-3 {
	border: 0;
	position: relative;
	border-radius: 12px;
	color: #fff;
	padding: 0 16px;
	box-shadow: 0 0 0 1px 0 0 0 1px rgba(255, 255, 255, 0.14);
	max-width: 100%;
	justify-content: center;
	align-items: center;
	transition-property: border-color, background, color, transform, box-shadow;
	transition-duration: .15s;
	transition-timing-function: ease;
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	width: 100%;
	max-width: 250px;
	transition: 0.25s;
}
 .man-woman-child-mt-3:hover{
    animation: background-anim 1s ease-in-out infinite;
    .man-woman-child-button-text{
        background-color: inherit;
    }
}

div .man-woman-child-highlight-bg {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background: inherit;
	border-radius: 12px;
	background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
	background-size: 400% 100%;
	border: none;
	padding: 0;
	margin: 0;
	animation: background-anim 8s ease-in-out infinite;
}


div.man-woman-child-button-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	 background: #000;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.man-woman-child-text-left p{ 
	font-size: 25px;
  }

div.man-woman-child-highlight-bg:after {
	content: "";
	position: absolute;
	background-size: inherit;
	background-image: inherit;
	animation: inherit;
	left: 0;
	right: 0;
	top: 2px;
	height: 100%;
	filter: blur(.5rem);
	transition: 0.25s;
}

@keyframes background-anim {
	0% {
        background-position: 0% 100%;
        transform: skew(0deg);
    }
    50% {
        background-position: 240% 100%;
        transform: skew(-5deg);
    }
    100% {
        background-position: 0% 100%;
        transform: skew(0deg);
    }
}
@media screen and (max-width:991px) {
	.man-woman-child-text-left p{ 
		font-size: 20px;
		margin-top: 10%;
	  }
	  .man-woman-child-text-leftcon{
		  width: 40vw;
	  }
	  .man-woman-child-text-right img{
		  width: 60vw;
		  height: 60vh;
		  overflow: visible;
	  }
	  .man-woman-child-button-Flex{
		  gap:0.3rem;
		  width: 85vw;
		  margin-top: 0%;
		  font-size: 20px;
		  overflow: visible;
	  }
  
	   div .man-woman-child-button-text{
		  font-size: 0.7rem;
		  font-weight: bold;
		  text-overflow: ellipsis;
		  white-space: nowrap;
	  }
}

@media screen and (max-width:576px) {
	.man-woman-child-text-left p{ 
      font-size: 15px;
	  margin-top: 20%;
	}
	.man-woman-child-text-leftcon{
		width: 50vw;
	}
	.man-woman-child-text-right img{
		width: 50vw;
		height: 50vh;
		overflow: visible;
	}
	.man-woman-child-button-Flex{
        gap:0.3rem;
        width: 85vw;
		margin-top: 20%;
		font-size: 15px;
		overflow: visible;
	}

     div .man-woman-child-button-text{
		font-size: 0.7rem;
		font-weight: bold;
        text-overflow: ellipsis;
		white-space: nowrap;
	}

  }
  @media screen and (max-width: 377px) {
	.man-woman-child-button-Flex{
        width: 80vw;
		margin-top: 0%;
		font-size: 13px;
	}
  }
  @media screen and (max-width: 320px) {
	.man-woman-child-text-left p{ 
		font-size: 13px;
		margin-top: 0%;
	  }
	.man-woman-child-button-Flex{
        width: 80vw;
		margin-top: 0%;
		font-size: 13px;
	}
  }