.textcon{
    display:flex;
    flex-direction: row;
    margin-bottom: 100px;
    gap: 1%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    & p{
        color: white;
        margin-top: 30px;
    }
    
}
.text-leftcon{
width: 80%;
height: 100%;
margin-left: 15%;


& span{
    font-size: 8rem;  
}
& .span1{
    padding-left: -10%;
}
& .span2{
    padding-left: 10%;
    & img{
        width:80% ;
         height:80%;
        object-fit: contain;
    }
}
& .span3{
    padding-left: 40%;
}
}
.text-left{ 
    display: flex;
    flex-direction: column;
    color: white;
    }
.text-right{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
flex-direction: column;
padding-top: 50px;
& img{
    width: 600px;
    height: 500px;
    object-fit: contain;
    
}

    }
  