@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  background-color: #ffffff; 
  height: 100vh;
  width: 100vw;
  font-family: "Poppins";
  overflow-y: scroll;
  overflow-x:hidden;
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --background: var(white);
  --accent: var(--black);
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}
* {
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased; 

}
#myVideo{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}
h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}
p {
  font-size: 18px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}
footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}
footer svg {
  margin-right: 20px;
}
footer a {
  text-decoration: none;
  color: var(--accent);
}
code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
  background: var(--background);
}
html {
  scroll-snap-type: y mandatory;
}
h1 {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
  
}
h2 {
  margin: 0;
  color: var(--accent);
  left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}
section {
  position: relative;
}
#img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}
.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  
}

.parallax span {
  display: inline-block;
  margin-right: 30px;
  color: rgb(216, 202, 8);
  font-family:"";
}

.parallaxV {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 3; 
  margin: 0;
  white-space: nowrap;
}

.parallaxV .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px; 
  display: flex;
  flex-direction: column; 
}

.parallaxV img {
  display: block; 
  margin-bottom: 20px; 
  color: yellow;
  margin-right: 25rem;
}



.newsunglass{
  display: grid;
  padding-bottom: 3%;
  grid-template-areas: " a a a " 
                       " a a a ";
                       justify-items: center;
                       justify-content: center;
                       
    gap:40px;
    
 @import url('https://fonts.googleapis.com/css?family=Raleway:200');
}.newsunglasscon{
    display:flex;
    width: 350px;
    height:400px;
    background-color:rgb(255, 255, 255);
    object-fit: contain;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    flex-direction: column-reverse;
    align-items: baseline;
    & #img{
      width:100%;
      height:80%
    }
    & h4, p{
      z-index: 1;
      font-size:20px;
      font-family: 'Raleway', sans-serif;
      color:black;

      margin-bottom:10px;
    }
    & .butCon{
      display: flex;
      flex-direction: row;
      gap:30px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
    & #fav{
      position: absolute ;
      top:0;
      right: 0;
      z-index: 2;
      padding-top: 12px;
      height: 60px;
      width: 30px;
      background-color: #a1bdda;
      cursor: pointer;
      &:hover{
        background-color: #7196b9;
      }
      
    } 
  }
 
  svg.hoverEffect:hover {
    color: red !important;
  }
  .newsunglasscon:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg,#141312, #cbf33b, #023064, #235a2c, #d7f74a, #c5221c, #b3073b, #43d4b5);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



  .sunglassMainCo{
    display:flex;
    justify-content: center;
  align-items: center;
  position: relative;
  }
.sunglassconMan,.sunglassconWomen,.sunglassconSale{
  display:flex;
  flex-direction: row;
  width: 95vw;
  height: 600px;
  background-color: #080a0c;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-top: 20px;
  overflow-x: scroll;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
scroll-behavior: smooth;
justify-content: flex-start;
padding-left: 20px;
}
.arrowButtons-left{
  position:absolute;
  top:50;
  left: 0;
  z-index: 2;
}
.arrowButtons-right{
  position: absolute;
  top:50;
  right: 0;
  z-index: 2;
}
.sunglass ,.sunglasscontent{
  width: 22vw;
  height:500px;
  font-size:50px;
  background-color:black;
  object-fit: cover;
  background-color: #ffffff;
  padding-top: 2px;
  position: relative;
  & .saleinfo{
    display: flex;
    gap:10px;
  }
  & .butCon{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  & #fav{
    position: absolute ;
    top:0;
    right: 0;
    z-index: 2;
    padding-top: 0;
    height: fit-content;
    background-color: #a1bdda;
    cursor: pointer;
  } 
  
}
.saleinfo{
  display: flex;
  gap:10px;
}
@media screen and (max-width:1025px) {
  .newsunglass{
    grid-template-areas: " a a " 
                         " a a "
                         " a a ";
                
      gap:40px;
  }
  .sunglassconMan,.sunglassconWomen,.sunglassconSale,.sunglassconKids{
    display:flex;
    flex-direction: row;
    width: 95vw;
    height: 420px;
    overflow-y: hidden;
    column-gap: 10px;
    padding-left: 0.5rem;
  }
  .sunglass ,.sunglasscontent{
    width: 22vw;
    height:380px;
    font-size:1rem;
    & h5,p{
      font-size: 1rem;
    }
    & .saleinfo{
      gap:5px;
    }&.butCon{
      margin: 0.5rem;
      bottom: 2;
      right: 2;
    }
  }
}
@media screen and (max-width: 789px) {
  .newsunglass{          
      gap:20px;
  }
  .newsunglasscon{
    width: 300px;
    height:350px;
    & h4, p{
      font-size:15px;
      margin-bottom:8px;
    }
  }
  .sunglassconMan,.sunglassconWomen,.sunglassconSale{
    height: 450px;
  }
  .arrowButtons-left,.arrowButtons-right{
    display: none;
  }
  .sunglass ,.sunglasscontent{
    width: 43vw;
    height:430px;
    font-size:50px;
    & .saleinfo{
      display: flex;
      gap:10px;
    }
  }
  }
@media screen and (max-width:426px) {
  .newsunglass{          
    gap:10px;
}
.newsunglasscon{
  width: 45vw;
  height:250px;
 
  & h4, p{
    z-index: 1;
    font-size:12px;
    margin-bottom:4px;
  }& .butCon{
      bottom: 2;
      right: 2;
      margin: 0.5rem;
    }& #fav{
      top:0;
      right: 0;
      z-index: 2;
      padding: 0rem;
      height: 35px;
      width: 25px;
      padding-left: 3px;

}
}
.parallax .scroller {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 40px;
}
.parallax span {
  margin-right: 10px;

}
.sunglassconMan,.sunglassconWomen,.sunglassconSale{
  height: 300px;
}
.sunglass ,.sunglasscontent{
  width: 45vw;
  height:270px;
  font-size: 15px;
  column-gap: 10px;
  & .saleinfo{
    display: flex;
    gap:5px; 
  }
}
.sunglass h5,.sunglass p{
  font-size: 12px;
}
.butCon{
  margin: 0.5rem;
}
}
@media screen and (max-width:321px) {
 
  .newsunglasscon h4,.newsunglasscon p{
      font-size:12px;
  }
  .sunglass h5,.sunglass p{
    font-size: 12px;
  }
  .parallax .scroller {
    font-weight: 400;
    font-size: 30px;
  }
  .parallax span {
    margin-right: 7px;
  
  }
}
